In [6]:
import pandas as pd

In [7]:
data_path = '/home/achara/data/achara/'

In [8]:
vp = pd.read_csv(data_path + 'VP_Data.csv')
solar = pd.read_csv(data_path + 'WS_2017_to_2019_SolarRad.csv')

In [9]:
vp.head()

,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year
0,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880,10,1,2017
1,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862,10,1,2017
2,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844,10,1,2017
3,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826,10,1,2017
4,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835,10,1,2017

In [10]:
solar.head()

   SolarRad_Air_LiCor  month  day  year
0                 0.0      1    1  2017
1                 0.0      1    1  2017
2                 0.0      1    1  2017
3                 0.0      1    1  2017
4                 0.0      1    1  2017

## Integrating the Vertical profiler data and the solar radiation data.

Grouping solar radiation data by Month & Year resulting in adjusted solar radiation data

In [19]:
solar_my = solar.drop(columns=['day']).groupby(['month','year']).mean(['SolarRad_Air_LiCor'])

In [20]:
solar_my

            SolarRad_Air_LiCor
month year
1     2017           54.840760
      2018           61.201152
      2019           67.961974
2     2017           85.338879
      2018           79.086870
      2019           93.664088
3     2017          139.103607
      2018          133.403402
      2019          153.531139
4     2017          166.843384
      2018          145.782570
      2019          160.870845
5     2017          193.163431
      2018          220.689446
      2019          189.663682
6     2017          251.278843
      2018          238.614035
      2019          233.197763
7     2017          251.347183
      2018          252.554194
      2019          250.008501
8     2017          241.386904
      2018          196.145697
      2019          221.467216
9     2017          196.187232
      2018          148.804706
      2019          170.110621
10    2017          127.389410
      2018           84.766848
      2019           94.694470
11    2017           73.462999
      2018           51.881097
      2019           64.323151
12    2017           47.665465
      2018           46.351381
      2019           46.125946

In [22]:
vp_solar_df = vp.merge(solar_my, on=['month', 'year'], how='left')

In [23]:
len(vp_solar_df[vp_solar_df.SolarRad_Air_LiCor.isna()])

0

In [24]:
vp_solar_df.head()

,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year,SolarRad_Air_LiCor
0,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880,10,1,2017,127.38941
1,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862,10,1,2017,127.38941
2,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844,10,1,2017,127.38941
3,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826,10,1,2017,127.38941
4,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835,10,1,2017,127.38941

In [25]:
len(vp_solar_df)

331496

In [26]:
vp_solar_df.year.describe

<bound method NDFrame.describe of 0         2017
1         2017
2         2017
3         2017
4         2017
          ...
331491    2019
331492    2019
331493    2019
331494    2019
331495    2019
Name: year, Length: 331496, dtype: int64>

In [28]:
vp_solar_df.to_csv(data_path + '/final_vp_data_2017_to_2019.csv', index=False)