In [73]:
import pandas as pd

In [74]:
data_path = '/home/achara/data/achara/'

In [75]:
vp_17 = pd.read_csv(data_path + '2017_JP_VP.csv')
vp_18 = pd.read_csv(data_path + '2018_JP_VP_Level4.csv')
vp_19 = pd.read_csv(data_path + '2019_JP_VP_Level4.csv')

In [76]:
vp_17.head()

,PC_Water_EXO,Chla_Water_EXO,SensorDepth_Water_EXO,DateTime,DO_Water_EXO,DO-Sat_Water_EXO,Pressure_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,fDOM_Water_EXO,pH_Water_EXO,PC-TC_Water_EXO,fDOM-TC_Water_EXO,CalibrationChange_System_EXO,Sitename
0,NaN,NaN,NaN,5/18/2017 18:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
1,NaN,NaN,NaN,5/18/2017 18:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
2,NaN,NaN,NaN,5/18/2017 18:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
3,NaN,NaN,NaN,5/18/2017 19:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
4,NaN,NaN,NaN,5/18/2017 19:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose

In [77]:
vp_18.head()

,DateTime,Site_Name,Chla_Water_EXO,SensorDepth_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,Turbidity_Water_EXO,pH_Water_EXO,PC_Water_EXO,fDOM_Water_EXO
0,2018-05-09 23:12:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-09 23:22:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-09 23:32:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-09 23:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-09 23:52:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
vp_19.head()

,DateTime,Site_Name,Chla_Water_EXO,SensorDepth_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,Turbidity_Water_EXO,pH_Water_EXO,PC_Water_EXO,fDOM_Water_EXO,VerticalPosition_Water_EXO
0,2019-05-02 18:22:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-02 18:32:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-02 18:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-06 19:41:33,VP_AnthonysNose,NaN,1.04,11.934,103.17,NaN,8.46,0.54,7.46,0.174836,0.998942,NaN
4,2019-05-06 19:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
def remove_time(datetime:str)->str:
    return datetime.split(' ')[0]

## Remove time from date time

In [80]:
vp_17.DateTime = vp_17.DateTime.map(remove_time)
vp_18.DateTime = vp_18.DateTime.map(remove_time)
vp_19.DateTime = vp_19.DateTime.map(remove_time)

## Date formats are not same across the 3 data sets, so we need to fix them

In [81]:
def convert_date_format(date:str)->str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '/'.join(list(map(str, standardize)))

In [82]:
vp_18.DateTime = vp_18.DateTime.map(convert_date_format)
vp_19.DateTime = vp_19.DateTime.map(convert_date_format)

## Rename column to suitable name

In [83]:
vp_17 = vp_17.rename(columns={'fDOM_Water_EXO':'rel_fl'})
vp_18 = vp_18.rename(columns={'fDOM_Water_EXO':'rel_fl'})
vp_19 = vp_19.rename(columns={'fDOM_Water_EXO':'rel_fl'})

## Group by DateTime keeping the sensor depth information

In [84]:
vp_17_mean = vp_17.groupby(['DateTime','SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean()

In [85]:
vp_18_mean = vp_18.groupby(['DateTime','SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean()

In [86]:
vp_19_mean = vp_19.groupby(['DateTime','SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean()

In [87]:
vp_df = vp_17_mean.append(vp_18_mean)

In [88]:
vp_df = vp_df.append(vp_19_mean)