In [215]:
import pandas as pd
from functools import partial

In [216]:
data_path = '/home/achara/data/achara/'

In [217]:
ws_17 = pd.read_csv(data_path + '2017_JP_WX.csv')

In [218]:
ws_18 = pd.read_csv(data_path + '2018_JP_WX_Level4.csv')

In [219]:
ws_19 = pd.read_csv(data_path + '2019_JP_WX_Level4.csv')

In [220]:
ws_17.head()

,DateTime,Temperature_Air_HC2,BarometricPressure_Air_HC2,DielectricWavePeriod_Soil_CS616,RelativeHumidity_Air_HC2,Moisture_Soil_CS616,Temperature_Soil_CS616,SolarRad_Air_LiCor,WindDirection_Air_RMY85006,WindDirection-StdDev_Air_RMY85006,...,Temperature_Air_WXT,BarometricPressure_Air_WXT,RelativeHumidity_Air_WXT,WindDirection_Air_WXT,WindDirection-StdDev_Air_WXT,WindSpeed_Air_WXT,Precipitation-Hail_Air_WXT,WindSpeed-Max_Air_WXT,Precipitation-RainDuration_Air_WXT,WindSpeed-Min_Air_WXT
0,1/1/2017 0:00,-0.356037,997.518519,21.896225,94.253704,0.131365,1.528815,0.0,226.748500,47.694074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2017 1:00,-0.203712,997.000000,21.899866,92.513559,0.131454,1.528544,0.0,234.364407,40.453780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2017 2:00,-0.175179,997.000000,21.900850,92.244643,0.131478,1.533117,0.0,207.388054,38.515893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2017 3:00,-0.211704,997.000000,21.901289,91.811111,0.131488,1.542955,0.0,164.736296,25.343704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2017 4:00,-0.321241,996.462963,21.904211,94.668519,0.131560,1.546150,0.0,222.037037,24.615593,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
ws_18.head()

,DateTime,Site_Name,BarometricPressure_Air_WXT,RelativeHumidity_Air_WXT,SolarRad_Air_LiCor,Temperature_Air_WXT,WindSpeed_Air_WXT,Precipitation-Rain_Air_WXT,WindDirection_Air_WXT,BarometricPressure_Air_HC2,Moisture_Soil_CS616,RelativeHumidity_Air_HC2,Temperature_Air_HC2,Temperature_Soil_CS616,WindSpeed_Air_RMY85006,Precipitation-Rain_Air_TB3,WindDirection_Air_RMY85006,Precipitation-Hail_Air_WXT
0,2018-05-09 23:00:00,VP_AnthonysNose,1001.330,42.940,12.027,20.194,0.220,0.05,65.644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-10 00:00:00,VP_AnthonysNose,1001.313,50.978,0.651,18.002,0.230,0.01,313.249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-10 01:00:00,VP_AnthonysNose,1001.379,56.025,0.001,16.098,0.266,0.00,191.270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-10 02:00:00,VP_AnthonysNose,1001.889,54.018,0.000,15.135,0.420,0.00,284.672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-10 03:00:00,VP_AnthonysNose,1002.177,57.163,0.000,15.145,0.601,0.00,263.515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
ws_19.head()

,DateTime,Site_Name,BarometricPressure_Air_WXT,PAR_Air_LiCor,RelativeHumidity_Air_WXT,SolarRad_Air_LiCor,Temperature_Air_WXT,WindSpeed_Air_WXT,Precipitation-Rain_Air_WXT,WindDirection_Air_WXT,Precipitation-Hail_Air_WXT,BarometricPressure_Air_HC2,Moisture_Soil_CS616,RelativeHumidity_Air_HC2,Temperature_Air_HC2,Temperature_Soil_CS616,WindSpeed_Air_RMY85006,Precipitation-Rain_Air_TB3,WindDirection_Air_RMY85006
0,2019-05-02 18:00:00,VP_AnthonysNose,1006.544,NaN,82.267,NaN,7.151,1.860,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-06 19:00:00,VP_AnthonysNose,999.828,NaN,31.430,NaN,20.800,0.798,0.01,342.850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-06 20:00:00,VP_AnthonysNose,999.584,NaN,34.003,NaN,21.025,0.472,0.00,19.133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-06 21:00:00,VP_AnthonysNose,999.916,NaN,38.050,NaN,21.185,1.799,0.00,150.310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-05-06 22:00:00,VP_AnthonysNose,1000.138,NaN,55.583,NaN,17.472,3.128,0.00,143.593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extracting Solar Radiation data

In [223]:
ws_17_solar = ws_17[['DateTime', 'SolarRad_Air_LiCor']]
ws_17_solar.head()

        DateTime  SolarRad_Air_LiCor
0  1/1/2017 0:00                 0.0
1  1/1/2017 1:00                 0.0
2  1/1/2017 2:00                 0.0
3  1/1/2017 3:00                 0.0
4  1/1/2017 4:00                 0.0

In [224]:
ws_18_solar = ws_18[['DateTime', 'SolarRad_Air_LiCor']]
ws_18_solar.head()

              DateTime  SolarRad_Air_LiCor
0  2018-05-09 23:00:00              12.027
1  2018-05-10 00:00:00               0.651
2  2018-05-10 01:00:00               0.001
3  2018-05-10 02:00:00               0.000
4  2018-05-10 03:00:00               0.000

In [225]:
ws_19_solar = ws_19[['DateTime', 'SolarRad_Air_LiCor']]
ws_19_solar.head()

              DateTime  SolarRad_Air_LiCor
0  2019-05-02 18:00:00                 NaN
1  2019-05-06 19:00:00                 NaN
2  2019-05-06 20:00:00                 NaN
3  2019-05-06 21:00:00                 NaN
4  2019-05-06 22:00:00                 NaN

In [226]:
ws_17_solar.SolarRad_Air_LiCor.describe()

count    26514.000000
mean       166.113749
std        263.170066
min          0.000000
25%          0.018971
50%          8.526046
75%        245.840250
max       1353.333333
Name: SolarRad_Air_LiCor, dtype: float64

In [227]:
len(ws_17_solar[ws_17_solar.SolarRad_Air_LiCor == 0])

4613

In [228]:
len(ws_18_solar[ws_18_solar.SolarRad_Air_LiCor == 0])

2921

In [229]:
len(ws_19_solar[ws_19_solar.SolarRad_Air_LiCor == 0])

3874

In [230]:
# Checking for NA values
len(ws_17_solar[ws_17_solar.SolarRad_Air_LiCor.isna()])

10092

In [231]:
ws_17_solar.DateTime.head()

0    1/1/2017 0:00
1    1/1/2017 1:00
2    1/1/2017 2:00
3    1/1/2017 3:00
4    1/1/2017 4:00
Name: DateTime, dtype: object

In [232]:
def remove_time(datetime: str) -> str:
    return datetime.split(' ')[0]

In [233]:
ws_17_solar.DateTime = ws_17_solar.DateTime.map(remove_time)

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [234]:
ws_17_solar.DateTime.head()

0    1/1/2017
1    1/1/2017
2    1/1/2017
3    1/1/2017
4    1/1/2017
Name: DateTime, dtype: object

In [235]:
ws_18_solar.SolarRad_Air_LiCor = ws_18_solar.SolarRad_Air_LiCor.map(str)

In [236]:
ws_18_solar.DateTime = ws_18_solar.DateTime.map(remove_time).map(lambda x: x.replace('-', '/'))
ws_18_solar.DateTime.head()

0    2018/05/09
1    2018/05/10
2    2018/05/10
3    2018/05/10
4    2018/05/10
Name: DateTime, dtype: object

In [237]:
ws_19_solar.SolarRad_Air_LiCor = ws_19_solar.SolarRad_Air_LiCor.map(str)

In [238]:
ws_19_solar.DateTime = ws_19_solar.DateTime.map(remove_time).map(lambda x: x.replace('-', '/'))
ws_19_solar.DateTime.head()

0    2019/05/02
1    2019/05/06
2    2019/05/06
3    2019/05/06
4    2019/05/06
Name: DateTime, dtype: object

## Find mean value of `SolarRad_Air_LiCor` by Date

In [239]:
ws_17_solar_mean = ws_17_solar.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()
ws_17_solar_mean.head()

           SolarRad_Air_LiCor
DateTime
1/1/2017            73.880391
1/1/2018             0.027000
1/10/2017           38.902959
1/11/2017           84.137819
1/12/2017           12.829765

In [240]:
# the SolarRad value is not in numeric type so converting it to `float`.
ws_18_solar.SolarRad_Air_LiCor = ws_18_solar.SolarRad_Air_LiCor.map(float)

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [241]:
ws_18_solar_mean = ws_18_solar.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()
ws_18_solar_mean.head()

            SolarRad_Air_LiCor
DateTime
2018/01/01           82.381979
2018/01/02           61.856708
2018/01/03           82.698771
2018/01/04           13.060729
2018/01/05           78.017896

In [242]:
ws_19_solar.SolarRad_Air_LiCor = ws_19_solar.SolarRad_Air_LiCor.map(float)
ws_19_solar_mean = ws_19_solar.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()
ws_19_solar_mean.head()

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

            SolarRad_Air_LiCor
DateTime
2019/01/01           26.097083
2019/01/02           74.238333
2019/01/03           57.927250
2019/01/04           90.278333
2019/01/05           49.078000

In [243]:
len(ws_17_solar[ws_17_solar.SolarRad_Air_LiCor.isna()])

10092

In [244]:
len(ws_18_solar[ws_18_solar.SolarRad_Air_LiCor.isna()])

22847

In [245]:
len(ws_19_solar[ws_19_solar.SolarRad_Air_LiCor.isna()])

26411

## Need to replace the `NA` values by the mean of `SolarRad_Air_LiCor` when matched with `DateTime`

In [246]:
ws_17_solar['SolarRad_Air_LiCor'] = ws_17_solar['SolarRad_Air_LiCor'].fillna(
    ws_17_solar.DateTime.map(lambda date: ws_17_solar_mean.at[str(date), 'SolarRad_Air_LiCor']))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [247]:
'''
There still can be DateTime values for which all SolarRad_Air_LiCor values were NA because of which NA values will still persist for these DateTime values.
I will replace these NA values with the overall mean.
'''

ws_17_solar.SolarRad_Air_LiCor.fillna(ws_17_solar.SolarRad_Air_LiCor.mean(), inplace=True)

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [248]:
ws_18_solar['SolarRad_Air_LiCor'] = ws_18_solar['SolarRad_Air_LiCor'].fillna(
    ws_18_solar.DateTime.map(lambda date: ws_18_solar_mean.at[str(date), 'SolarRad_Air_LiCor']))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [249]:
ws_19_solar['SolarRad_Air_LiCor'] = ws_19_solar['SolarRad_Air_LiCor'].fillna(
    ws_19_solar.DateTime.map(lambda date: ws_19_solar_mean.at[str(date), 'SolarRad_Air_LiCor']))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [250]:
len(ws_19_solar[ws_19_solar.SolarRad_Air_LiCor.isna()])

96

In [251]:
ws_19_solar.SolarRad_Air_LiCor.fillna(ws_19_solar.SolarRad_Air_LiCor.mean(), inplace=True)

## Split DateTime into Day, Month & Year for combining other data sets

In [252]:
def get_part(idx:int, date: str) -> str:
    return date.split('/')[idx]

#
# def get_day(date: str) -> str:
#     return date.split('/')[1]
#
#
# def get_year(date: str) -> str:
#     return date.split('/')[2]

In [253]:
ws_17_solar['month'] = ws_17_solar.DateTime.map(partial(get_part, 0))
ws_17_solar['day'] = ws_17_solar.DateTime.map(partial(get_part, 1))
ws_17_solar['year'] = ws_17_solar.DateTime.map(partial(get_part, 2))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [254]:
ws_17_solar.head()

   DateTime  SolarRad_Air_LiCor month day  year
0  1/1/2017                 0.0     1   1  2017
1  1/1/2017                 0.0     1   1  2017
2  1/1/2017                 0.0     1   1  2017
3  1/1/2017                 0.0     1   1  2017
4  1/1/2017                 0.0     1   1  2017

In [255]:
ws_17_solar = ws_17_solar.drop(columns=['DateTime'])

In [256]:
ws_18_solar['month'] = ws_18_solar.DateTime.map(partial(get_part, 1))
ws_18_solar['day'] = ws_18_solar.DateTime.map(partial(get_part, 2))
ws_18_solar['year'] = ws_18_solar.DateTime.map(partial(get_part, 0))

ws_18_solar.head()

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     DateTime  SolarRad_Air_LiCor month day  year
0  2018/05/09              12.027    05  09  2018
1  2018/05/10               0.651    05  10  2018
2  2018/05/10               0.001    05  10  2018
3  2018/05/10               0.000    05  10  2018
4  2018/05/10               0.000    05  10  2018

In [257]:
ws_18_solar = ws_18_solar.drop(columns=['DateTime'])

In [258]:
ws_19_solar['month'] = ws_19_solar.DateTime.map(partial(get_part, 1))
ws_19_solar['day'] = ws_19_solar.DateTime.map(partial(get_part, 2))
ws_19_solar['year'] = ws_19_solar.DateTime.map(partial(get_part, 0))

ws_19_solar.head()

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     DateTime  SolarRad_Air_LiCor month day  year
0  2019/05/02           47.438042    05  02  2019
1  2019/05/06          250.057375    05  06  2019
2  2019/05/06          250.057375    05  06  2019
3  2019/05/06          250.057375    05  06  2019
4  2019/05/06          250.057375    05  06  2019

In [259]:
ws_19_solar = ws_19_solar.drop(columns=['DateTime'])

In [260]:
ws_17_18_solar = ws_17_solar.append(ws_18_solar)

In [261]:
ws_17_to_19_solar = ws_17_18_solar.append(ws_19_solar)

In [262]:
ws_17_to_19_solar.head()

   SolarRad_Air_LiCor month day  year
0                 0.0     1   1  2017
1                 0.0     1   1  2017
2                 0.0     1   1  2017
3                 0.0     1   1  2017
4                 0.0     1   1  2017

In [264]:
ws_17_to_19_solar.to_csv(data_path + '/WS_2017_to_2019_SolarRad.csv', index=False)