In [ ]:
import pandas as pd
import seaborn as sns

In [7]:
data_path = '/home/achara/data/achara/'
df = pd.read_csv(data_path + '/forecast_input.csv')

In [8]:
df.head()

,DateTime,time,PC_Water_EXO,DO-Sat_Water_EXO,DO_Water_EXO,rel_fl,Chla_Water_EXO,month,year,SolarRad_Air_LiCor,NO3,NH4,PP,day,PRECTOTCORR,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_LW_DWN
0,2017-10-01 00:01:00,0:01,0.1448,101.82,9.14,0.844,0.800312,10,2017,127.38941,0.191,0.005,16.681741,1,4.503493,2.355409,311.677335
1,2017-10-01 00:03:00,0:03,0.1340,101.74,9.13,0.826,0.553970,10,2017,127.38941,0.191,0.005,16.681741,1,4.503493,2.355409,311.677335
2,2017-10-01 00:04:00,0:04,0.1232,101.67,9.13,0.826,0.553919,10,2017,127.38941,0.191,0.005,16.681741,1,4.503493,2.355409,311.677335
3,2017-10-01 00:05:00,0:05,0.1124,101.57,9.12,0.826,0.437228,10,2017,127.38941,0.191,0.005,16.681741,1,4.503493,2.355409,311.677335
4,2017-10-01 00:07:00,0:07,0.1160,101.50,9.11,0.844,0.489017,10,2017,127.38941,0.191,0.005,16.681741,1,4.503493,2.355409,311.677335

In [ ]:
sns.relplot(data = df, x='DateTime', y='PC_Water_EXO', kind='line')