In [80]:
import pandas as pd

In [81]:
data_path = '/home/achara/data/achara/'
vp_17 = pd.read_csv(data_path + '2017_JP_VP.csv')
vp_18 = pd.read_csv(data_path + '2018_JP_VP_Level4.csv')
vp_19 = pd.read_csv(data_path + '2019_JP_VP_Level4.csv')

In [82]:
def remove_time(datetime: str) -> str:
    return datetime.split(' ')[0]

In [83]:
def get_time(datetime: str) -> str:
    return datetime.split(' ')[1]

In [84]:
vp_17.DateTime = vp_17.DateTime.map(lambda datetime: datetime.replace('/', '-'))

In [85]:
vp_18.DateTime.head()

0    2018-05-09 23:12:00
1    2018-05-09 23:22:00
2    2018-05-09 23:32:00
3    2018-05-09 23:42:00
4    2018-05-09 23:52:00
Name: DateTime, dtype: object

## The date format differs

In [86]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '-'.join(list(map(str, standardize)))

## Split date and time for initial data processing and merging

In [87]:
vp_17['time'] = vp_17.DateTime.map(get_time)
vp_18['time'] = vp_18.DateTime.map(get_time)
vp_19['time'] = vp_19.DateTime.map(get_time)

In [88]:
vp_17.DateTime = vp_17.DateTime.map(remove_time)
vp_18.DateTime = vp_18.DateTime.map(remove_time)
vp_19.DateTime = vp_19.DateTime.map(remove_time)

In [89]:
vp_18.DateTime = vp_18.DateTime.map(convert_date_format)
vp_19.DateTime = vp_19.DateTime.map(convert_date_format)

In [90]:
def get_month(date: str) -> str:
    return date.split('-')[0]


def get_day(date: str) -> str:
    return date.split('-')[1]


def get_year(date: str) -> str:
    return date.split('-')[2]

In [91]:
vp_17 = vp_17.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_18 = vp_18.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_19 = vp_19.rename(columns={'fDOM_Water_EXO': 'rel_fl'})

## Group by `DateTime`, `time` and `SensorDepth_Water_EXO` keeping the sensor depth information

In [92]:
vp_17_mean = vp_17.groupby(['DateTime', 'time', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [93]:
vp_17_mean.head()

,DateTime,time,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl
0,10-1-2017,0:01,1.09,0.1448,0.800312,9.14,101.82,139.74,20.62,8.038610,0.844
1,10-1-2017,0:03,1.85,0.1340,0.553970,9.13,101.74,139.98,20.62,8.038617,0.826
2,10-1-2017,0:04,2.94,0.1232,0.553919,9.13,101.67,139.80,20.63,8.038620,0.826
3,10-1-2017,0:05,3.93,0.1124,0.437228,9.12,101.57,139.90,20.63,8.038623,0.826
4,10-1-2017,0:07,4.93,0.1160,0.489017,9.11,101.50,139.92,20.62,8.038627,0.844

In [94]:
vp_18_mean = vp_18.groupby(['DateTime', 'time', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [95]:
vp_19_mean = vp_19.groupby(['DateTime', 'SensorDepth_Water_EXO', 'time'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [96]:
vp_df = vp_17_mean.append(vp_18_mean)

In [97]:
vp_df = vp_df.append(vp_19_mean)

In [98]:
vp_df['month'] = vp_df.DateTime.map(get_month)
vp_df['day'] = vp_df.DateTime.map(get_day)
vp_df['year'] = vp_df.DateTime.map(get_year)

In [99]:
vp_df.head()

,DateTime,time,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year
0,10-1-2017,0:01,1.09,0.1448,0.800312,9.14,101.82,139.74,20.62,8.038610,0.844,10,1,2017
1,10-1-2017,0:03,1.85,0.1340,0.553970,9.13,101.74,139.98,20.62,8.038617,0.826,10,1,2017
2,10-1-2017,0:04,2.94,0.1232,0.553919,9.13,101.67,139.80,20.63,8.038620,0.826,10,1,2017
3,10-1-2017,0:05,3.93,0.1124,0.437228,9.12,101.57,139.90,20.63,8.038623,0.826,10,1,2017
4,10-1-2017,0:07,4.93,0.1160,0.489017,9.11,101.50,139.92,20.62,8.038627,0.844,10,1,2017

## Removing NA values

In [100]:
mean_pc = vp_df.groupby(['DateTime', 'time'])['PC_Water_EXO'].mean()
mean_chl_a = vp_df.groupby(['DateTime', 'time'])['Chla_Water_EXO'].mean()
mean_do = vp_df.groupby(['DateTime', 'time'])['DO_Water_EXO'].mean()
mean_do_sat = vp_df.groupby(['DateTime', 'time'])['DO-Sat_Water_EXO'].mean()
mean_sp_c = vp_df.groupby(['DateTime', 'time'])['SpCond_Water_EXO'].mean()
mean_water_temp = vp_df.groupby(['DateTime', 'time'])['Temperature_Water_EXO'].mean()
mean_ph = vp_df.groupby(['DateTime', 'time'])['pH_Water_EXO'].mean()
mean_fl = vp_df.groupby(['DateTime', 'time'])['rel_fl'].mean()

In [101]:
sum(vp_df.PC_Water_EXO.isna())

4411

In [102]:
def get_mean_pc_by_date_and_time(row):
    return mean_pc.loc[(row['DateTime'], row['time'])]


vp_df.PC_Water_EXO = vp_df.PC_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_pc_by_date_and_time(row), axis=1))

In [103]:
mean_pc_by_datetime = vp_df.groupby(['DateTime'])['PC_Water_EXO'].mean()

## fill the remaining `NA` with the average taken by `DateTime`

In [104]:
vp_df.PC_Water_EXO = vp_df.PC_Water_EXO.fillna(vp_df.DateTime.map(lambda datetime: mean_pc_by_datetime.loc[datetime]))

In [105]:
sum(vp_df.PC_Water_EXO.isna())

0

In [106]:
def get_mean_chla_by_date_and_time(row):
    return mean_chl_a.loc[(row['DateTime'], row['time'])]

In [107]:
sum(vp_df.Chla_Water_EXO.isna())

4053

In [108]:
vp_df.Chla_Water_EXO = vp_df.Chla_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_chla_by_date_and_time(row), axis=1))

In [109]:
mean_chl_a_by_dt = vp_df.groupby(['DateTime'])['Chla_Water_EXO'].mean()

In [110]:
vp_df.Chla_Water_EXO = vp_df.Chla_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_chl_a_by_dt.loc[d]))

In [111]:
sum(vp_df.Chla_Water_EXO.isna())

0

### `DO-Sat_Water_EXO` treatment

In [112]:
def get_mean_do_sat_by_dt(row):
    return mean_do_sat.loc[(row['DateTime'], row['time'])]

In [113]:
sum(vp_df['DO-Sat_Water_EXO'].isna())

11193

In [114]:
vp_df['DO-Sat_Water_EXO'] = vp_df['DO-Sat_Water_EXO'].fillna(
    vp_df.apply(lambda row: get_mean_do_sat_by_dt(row), axis=1))

In [115]:
get_mean_do_sat_by_dt = vp_df.groupby(['DateTime'])['DO-Sat_Water_EXO'].mean()

In [116]:
vp_df['DO-Sat_Water_EXO'] = vp_df['DO-Sat_Water_EXO'].fillna(vp_df.DateTime.map(lambda d: get_mean_do_sat_by_dt.loc[d]))

In [117]:
sum(vp_df['DO-Sat_Water_EXO'].isna())

0

`DO_Water_EXO` treatment

In [118]:
def get_mean_do_by_dt(row):
    return mean_do.loc[(row['DateTime'], row['time'])]

In [119]:
vp_df.DO_Water_EXO = vp_df.DO_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_do_by_dt(row), axis=1))

In [120]:
mean_do_by_dt = vp_df.groupby(['DateTime'])['DO_Water_EXO'].mean()

In [121]:
sum(vp_df.DO_Water_EXO.isna())

6326

In [122]:
vp_df.DO_Water_EXO = vp_df.DO_Water_EXO.fillna(vp_df.DateTime.map(lambda datetime: mean_do_by_dt.loc[datetime]))

In [123]:
sum(vp_df.DO_Water_EXO.isna())

0

### `rel_fl` treatment

In [124]:
def get_mean_fl_by_dt(row):
    return mean_fl.loc[(row['DateTime'], row['time'])]

In [125]:
sum(vp_df.rel_fl.isna())

1083

In [126]:
vp_df.rel_fl = vp_df.rel_fl.fillna(vp_df.apply(lambda row: get_mean_fl_by_dt(row), axis=1))

In [127]:
mean_fl_by_dt = vp_df.groupby(['DateTime'])['rel_fl'].mean()
vp_df.rel_fl = vp_df.rel_fl.fillna(vp_df.DateTime.map(lambda d: mean_fl_by_dt.loc[d]))

In [128]:
sum(vp_df.rel_fl.isna())

0

In [131]:
variables = [
    'DateTime',
    'time',
    'PC_Water_EXO',
    'DO-Sat_Water_EXO',
    'DO_Water_EXO',
    'rel_fl',
    'Chla_Water_EXO',
    'rel_fl']

In [132]:
vp_df_final = vp_df[variables]

In [133]:
vp_df_final.columns

Index(['DateTime', 'time', 'PC_Water_EXO', 'DO-Sat_Water_EXO', 'DO_Water_EXO',
       'rel_fl', 'Chla_Water_EXO', 'rel_fl'],
      dtype='object')

In [137]:
vp_df_final.head()

,DateTime,time,PC_Water_EXO,DO-Sat_Water_EXO,DO_Water_EXO,rel_fl,Chla_Water_EXO,rel_fl
0,10-1-2017,0:01,0.1448,101.82,9.14,0.844,0.800312,0.844
1,10-1-2017,0:03,0.1340,101.74,9.13,0.826,0.553970,0.826
2,10-1-2017,0:04,0.1232,101.67,9.13,0.826,0.553919,0.826
3,10-1-2017,0:05,0.1124,101.57,9.12,0.826,0.437228,0.826
4,10-1-2017,0:07,0.1160,101.50,9.11,0.844,0.489017,0.844