In [84]:
import pandas as pd

In [85]:
data_path = '/home/achara/data/achara/'
vp_17 = pd.read_csv(data_path + '2017_JP_VP.csv')
vp_18 = pd.read_csv(data_path + '2018_JP_VP_Level4.csv')
vp_19 = pd.read_csv(data_path + '2019_JP_VP_Level4.csv')

In [86]:
def remove_time(datetime: str) -> str:
    return datetime.split(' ')[0]

In [87]:
def get_time(datetime: str) -> str:
    return datetime.split(' ')[1]

In [88]:
vp_17.DateTime = vp_17.DateTime.map(lambda datetime: datetime.replace('/', '-'))

In [89]:
vp_18.DateTime.head()

0    2018-05-09 23:12:00
1    2018-05-09 23:22:00
2    2018-05-09 23:32:00
3    2018-05-09 23:42:00
4    2018-05-09 23:52:00
Name: DateTime, dtype: object

## The date format differs

In [90]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '-'.join(list(map(str, standardize)))

## Split date and time for initial data processing and merging

In [91]:
vp_17['time'] = vp_17.DateTime.map(get_time)
vp_18['time'] = vp_18.DateTime.map(get_time)
vp_19['time'] = vp_19.DateTime.map(get_time)

In [92]:
vp_17.DateTime = vp_17.DateTime.map(remove_time)
vp_18.DateTime = vp_18.DateTime.map(remove_time)
vp_19.DateTime = vp_19.DateTime.map(remove_time)

In [93]:
vp_18.DateTime = vp_18.DateTime.map(convert_date_format)
vp_19.DateTime = vp_19.DateTime.map(convert_date_format)

In [94]:
def get_month(date: str) -> str:
    return date.split('-')[0]


def get_day(date: str) -> str:
    return date.split('-')[1]


def get_year(date: str) -> str:
    return date.split('-')[2]

In [95]:
vp_17 = vp_17.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_18 = vp_18.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_19 = vp_19.rename(columns={'fDOM_Water_EXO': 'rel_fl'})

## Group by `DateTime`, `time` and `SensorDepth_Water_EXO` keeping the sensor depth information

In [96]:
vp_17_mean = vp_17.groupby(['DateTime', 'time', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [97]:
vp_17_mean.head()

,DateTime,time,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl
0,10-1-2017,0:01,1.09,0.1448,0.800312,9.14,101.82,139.74,20.62,8.038610,0.844
1,10-1-2017,0:03,1.85,0.1340,0.553970,9.13,101.74,139.98,20.62,8.038617,0.826
2,10-1-2017,0:04,2.94,0.1232,0.553919,9.13,101.67,139.80,20.63,8.038620,0.826
3,10-1-2017,0:05,3.93,0.1124,0.437228,9.12,101.57,139.90,20.63,8.038623,0.826
4,10-1-2017,0:07,4.93,0.1160,0.489017,9.11,101.50,139.92,20.62,8.038627,0.844

In [98]:
vp_18_mean = vp_18.groupby(['DateTime', 'time', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [99]:
vp_19_mean = vp_19.groupby(['DateTime', 'SensorDepth_Water_EXO', 'time'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [100]:
vp_df = vp_17_mean.append(vp_18_mean)

In [101]:
vp_df = vp_df.append(vp_19_mean)

In [102]:
vp_df['month'] = vp_df.DateTime.map(get_month)
vp_df['day'] = vp_df.DateTime.map(get_day)
vp_df['year'] = vp_df.DateTime.map(get_year)

In [103]:
vp_df.head()

,DateTime,time,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year
0,10-1-2017,0:01,1.09,0.1448,0.800312,9.14,101.82,139.74,20.62,8.038610,0.844,10,1,2017
1,10-1-2017,0:03,1.85,0.1340,0.553970,9.13,101.74,139.98,20.62,8.038617,0.826,10,1,2017
2,10-1-2017,0:04,2.94,0.1232,0.553919,9.13,101.67,139.80,20.63,8.038620,0.826,10,1,2017
3,10-1-2017,0:05,3.93,0.1124,0.437228,9.12,101.57,139.90,20.63,8.038623,0.826,10,1,2017
4,10-1-2017,0:07,4.93,0.1160,0.489017,9.11,101.50,139.92,20.62,8.038627,0.844,10,1,2017

## Removing NA values

In [104]:
mean_pc = vp_df.groupby(['DateTime', 'time'])['PC_Water_EXO'].mean()
mean_chl_a = vp_df.groupby(['DateTime', 'time'])['Chla_Water_EXO'].mean()
mean_do = vp_df.groupby(['DateTime', 'time'])['DO_Water_EXO'].mean()
mean_do_sat = vp_df.groupby(['DateTime', 'time'])['DO-Sat_Water_EXO'].mean()
mean_sp_c = vp_df.groupby(['DateTime', 'time'])['SpCond_Water_EXO'].mean()
mean_water_temp = vp_df.groupby(['DateTime', 'time'])['Temperature_Water_EXO'].mean()
mean_ph = vp_df.groupby(['DateTime', 'time'])['pH_Water_EXO'].mean()
mean_fl = vp_df.groupby(['DateTime', 'time'])['rel_fl'].mean()

In [105]:
sum(vp_df.PC_Water_EXO.isna())

4411

In [106]:
def get_mean_pc_by_date_and_time(row):
    return mean_pc.loc[(row['DateTime'], row['time'])]


vp_df.PC_Water_EXO = vp_df.PC_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_pc_by_date_and_time(row), axis=1))

In [107]:
mean_pc_by_datetime = vp_df.groupby(['DateTime'])['PC_Water_EXO'].mean()

## fill the remaining `NA` with the average taken by `DateTime`

In [108]:
vp_df.PC_Water_EXO = vp_df.PC_Water_EXO.fillna(vp_df.DateTime.map(lambda datetime: mean_pc_by_datetime.loc[datetime]))

In [109]:
sum(vp_df.PC_Water_EXO.isna())

0

In [110]:
def get_mean_chla_by_date_and_time(row):
    return mean_chl_a.loc[(row['DateTime'], row['time'])]

In [111]:
sum(vp_df.Chla_Water_EXO.isna())

4053

In [112]:
vp_df.Chla_Water_EXO = vp_df.Chla_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_chla_by_date_and_time(row), axis=1))

In [113]:
mean_chl_a_by_dt = vp_df.groupby(['DateTime'])['Chla_Water_EXO'].mean()

In [114]:
vp_df.Chla_Water_EXO = vp_df.Chla_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_chl_a_by_dt.loc[d]))

In [115]:
sum(vp_df.Chla_Water_EXO.isna())

0

### `DO-Sat_Water_EXO` treatment

In [116]:
def get_mean_do_sat_by_dt(row):
    return mean_do_sat.loc[(row['DateTime'], row['time'])]

In [117]:
sum(vp_df['DO-Sat_Water_EXO'].isna())

11193

In [118]:
vp_df['DO-Sat_Water_EXO'] = vp_df['DO-Sat_Water_EXO'].fillna(
    vp_df.apply(lambda row: get_mean_do_sat_by_dt(row), axis=1))

In [119]:
get_mean_do_sat_by_dt = vp_df.groupby(['DateTime'])['DO-Sat_Water_EXO'].mean()

In [120]:
vp_df['DO-Sat_Water_EXO'] = vp_df['DO-Sat_Water_EXO'].fillna(vp_df.DateTime.map(lambda d: get_mean_do_sat_by_dt.loc[d]))

In [121]:
sum(vp_df['DO-Sat_Water_EXO'].isna())

0

`DO_Water_EXO` treatment

In [122]:
def get_mean_do_by_dt(row):
    return mean_do.loc[(row['DateTime'], row['time'])]

In [123]:
vp_df.DO_Water_EXO = vp_df.DO_Water_EXO.fillna(vp_df.apply(lambda row: get_mean_do_by_dt(row), axis=1))

In [124]:
mean_do_by_dt = vp_df.groupby(['DateTime'])['DO_Water_EXO'].mean()

In [125]:
sum(vp_df.DO_Water_EXO.isna())

6326

In [126]:
vp_df.DO_Water_EXO = vp_df.DO_Water_EXO.fillna(vp_df.DateTime.map(lambda datetime: mean_do_by_dt.loc[datetime]))

In [127]:
sum(vp_df.DO_Water_EXO.isna())

0

### `rel_fl` treatment

In [128]:
def get_mean_fl_by_dt(row):
    return mean_fl.loc[(row['DateTime'], row['time'])]

In [129]:
sum(vp_df.rel_fl.isna())

1083

In [130]:
vp_df.rel_fl = vp_df.rel_fl.fillna(vp_df.apply(lambda row: get_mean_fl_by_dt(row), axis=1))

In [131]:
mean_fl_by_dt = vp_df.groupby(['DateTime'])['rel_fl'].mean()
vp_df.rel_fl = vp_df.rel_fl.fillna(vp_df.DateTime.map(lambda d: mean_fl_by_dt.loc[d]))

In [132]:
sum(vp_df.rel_fl.isna())

0

In [133]:
variables = [
    'DateTime',
    'time',
    'PC_Water_EXO',
    'DO-Sat_Water_EXO',
    'DO_Water_EXO',
    'rel_fl',
    'Chla_Water_EXO',
    'rel_fl']

In [134]:
vp_df_final = vp_df[variables]

In [135]:
vp_df_final.columns

Index(['DateTime', 'time', 'PC_Water_EXO', 'DO-Sat_Water_EXO', 'DO_Water_EXO',
       'rel_fl', 'Chla_Water_EXO', 'rel_fl'],
      dtype='object')

In [136]:
vp_df_final.head()

,DateTime,time,PC_Water_EXO,DO-Sat_Water_EXO,DO_Water_EXO,rel_fl,Chla_Water_EXO,rel_fl
0,10-1-2017,0:01,0.1448,101.82,9.14,0.844,0.800312,0.844
1,10-1-2017,0:03,0.1340,101.74,9.13,0.826,0.553970,0.826
2,10-1-2017,0:04,0.1232,101.67,9.13,0.826,0.553919,0.826
3,10-1-2017,0:05,0.1124,101.57,9.12,0.826,0.437228,0.826
4,10-1-2017,0:07,0.1160,101.50,9.11,0.844,0.489017,0.844

## get solar data

In [137]:
ws_17 = pd.read_csv(data_path + '2017_JP_WX.csv')
ws_18 = pd.read_csv(data_path + '2018_JP_WX_Level4.csv')
ws_19 = pd.read_csv(data_path + '2019_JP_WX_Level4.csv')

In [138]:
ws_variables = [
    'DateTime',
    'SolarRad_Air_LiCor'
]

In [139]:
ws_17_filtered = ws_17[ws_variables]

In [140]:
ws_18_filtered = ws_18[ws_variables]
ws_19_filtered = ws_19[ws_variables]

In [141]:
ws_17_filtered.DateTime.head()

0    1/1/2017 0:00
1    1/1/2017 1:00
2    1/1/2017 2:00
3    1/1/2017 3:00
4    1/1/2017 4:00
Name: DateTime, dtype: object

In [142]:
ws_18_filtered.DateTime.head()

0    2018-05-09 23:00:00
1    2018-05-10 00:00:00
2    2018-05-10 01:00:00
3    2018-05-10 02:00:00
4    2018-05-10 03:00:00
Name: DateTime, dtype: object

In [143]:
ws_19_filtered.DateTime.head()

0    2019-05-02 18:00:00
1    2019-05-06 19:00:00
2    2019-05-06 20:00:00
3    2019-05-06 21:00:00
4    2019-05-06 22:00:00
Name: DateTime, dtype: object

In [144]:
ws_17_filtered.DateTime = ws_17_filtered.DateTime.map(remove_time)

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [145]:
ws_17_filtered.DateTime = ws_17_filtered.DateTime.map(lambda datetime: datetime.replace('/','-'))

In [146]:
ws_18_filtered.loc[:,'DateTime'] = ws_18_filtered.DateTime.map(remove_time)

/home/achara/achara_env/lib/python3.6/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [147]:
ws_18_filtered.DateTime = ws_18_filtered.DateTime.map(convert_date_format)

In [148]:
ws_19_filtered.loc[:,'DateTime'] = ws_19_filtered.DateTime.map(remove_time)

In [149]:
ws_19_filtered.DateTime = ws_19_filtered.DateTime.map(convert_date_format)

In [150]:
ws_19_filtered.DateTime.head()

0    5-2-2019
1    5-6-2019
2    5-6-2019
3    5-6-2019
4    5-6-2019
Name: DateTime, dtype: object

In [151]:
ws_17_solar_mean = ws_17_filtered.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()
ws_18_solar_mean = ws_18_filtered.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()
ws_19_solar_mean = ws_19_filtered.groupby('DateTime')[['SolarRad_Air_LiCor']].mean()

In [152]:
ws_17_filtered['SolarRad_Air_LiCor'] = ws_17_filtered['SolarRad_Air_LiCor'].fillna(
    ws_17_filtered.DateTime.map(lambda date: ws_17_solar_mean.loc[date]))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [153]:
ws_18_filtered['SolarRad_Air_LiCor'] = ws_18_filtered['SolarRad_Air_LiCor'].fillna(
    ws_18_filtered.DateTime.map(lambda date: ws_18_solar_mean.loc[date]))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [154]:
sum(ws_18_filtered.SolarRad_Air_LiCor.isna())

0

In [155]:
ws_19_filtered['SolarRad_Air_LiCor'] = ws_19_filtered['SolarRad_Air_LiCor'].fillna(
    ws_19_filtered.DateTime.map(lambda date: ws_19_solar_mean.loc[date]))

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [156]:
sum(ws_19_filtered.SolarRad_Air_LiCor.isna())

0

In [157]:
ws = ws_17_filtered.append(ws_18_filtered)

In [158]:
ws = ws.append(ws_19_filtered)

In [159]:
ws['day'] = ws.DateTime.map(get_day)
ws['month'] = ws.DateTime.map(get_month)
ws['year'] = ws.DateTime.map(get_year)

In [160]:
ws.head()

   DateTime SolarRad_Air_LiCor day month  year
0  1-1-2017                  0   1     1  2017
1  1-1-2017                  0   1     1  2017
2  1-1-2017                  0   1     1  2017
3  1-1-2017                  0   1     1  2017
4  1-1-2017                  0   1     1  2017

In [161]:
ws.SolarRad_Air_LiCor = ws.SolarRad_Air_LiCor.astype('float')

In [162]:
ws.columns

Index(['DateTime', 'SolarRad_Air_LiCor', 'day', 'month', 'year'], dtype='object')

In [163]:
vp_df_final.columns

Index(['DateTime', 'time', 'PC_Water_EXO', 'DO-Sat_Water_EXO', 'DO_Water_EXO',
       'rel_fl', 'Chla_Water_EXO', 'rel_fl'],
      dtype='object')

In [164]:
vp_df_final['month'] = vp_df_final.DateTime.map(get_month)
vp_df_final['year'] = vp_df_final.DateTime.map(get_year)

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [165]:
ws_mean = ws.groupby(['year', 'month'], as_index=False)['SolarRad_Air_LiCor'].mean()

In [166]:
vp_ws = vp_df_final.merge(ws_mean, on=['year', 'month'], how='left')

In [167]:
vp_ws.head()

,DateTime,time,PC_Water_EXO,DO-Sat_Water_EXO,DO_Water_EXO,rel_fl,Chla_Water_EXO,rel_fl,month,year,SolarRad_Air_LiCor
0,10-1-2017,0:01,0.1448,101.82,9.14,0.844,0.800312,0.844,10,2017,127.38941
1,10-1-2017,0:03,0.1340,101.74,9.13,0.826,0.553970,0.826,10,2017,127.38941
2,10-1-2017,0:04,0.1232,101.67,9.13,0.826,0.553919,0.826,10,2017,127.38941
3,10-1-2017,0:05,0.1124,101.57,9.12,0.826,0.437228,0.826,10,2017,127.38941
4,10-1-2017,0:07,0.1160,101.50,9.11,0.844,0.489017,0.844,10,2017,127.38941

In [83]:
vp_ws.columns

Index(['DateTime', 'time', 'PC_Water_EXO', 'DO-Sat_Water_EXO', 'DO_Water_EXO',
       'rel_fl', 'Chla_Water_EXO', 'rel_fl', 'SolarRad_Air_LiCor', 'day',
       'month', 'year'],
      dtype='object')

In [168]:
vp_ws.isna().sum()

DateTime              0
time                  0
PC_Water_EXO          0
DO-Sat_Water_EXO      0
DO_Water_EXO          0
rel_fl                0
Chla_Water_EXO        0
rel_fl                0
month                 0
year                  0
SolarRad_Air_LiCor    0
dtype: int64

In [169]:
vp_ws.to_csv(data_path+'/vp_ws_fc.csv', index=False)