In [45]:
import seaborn as sns
import pandas as pd

In [46]:
pd.set_option("max_rows", 25)

In [47]:
# Apply the default theme
sns.set_theme()
sns.set_style("whitegrid")

In [48]:
data_path = '/home/achara/data/achara/'

In [49]:
df = pd.read_csv(data_path + 'final_vp_data_2017_to_2019.csv')

In [50]:
df.head()

,DateTime,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year,SolarRad_Air_LiCor
0,10/1/2017,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880,10,1,2017,127.38941
1,10/1/2017,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862,10,1,2017,127.38941
2,10/1/2017,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844,10,1,2017,127.38941
3,10/1/2017,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826,10,1,2017,127.38941
4,10/1/2017,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835,10,1,2017,127.38941

## Exploring the correlations

In [51]:
df.corr()

,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year,SolarRad_Air_LiCor
SensorDepth_Water_EXO,1.000000,0.254268,-0.298426,-0.020135,-0.648007,-0.446515,-0.786662,-0.757792,0.273434,0.022866,0.002084,0.036855,0.003089
PC_Water_EXO,0.254268,1.000000,0.143790,0.110390,-0.159781,-0.042877,-0.316365,-0.372949,0.720790,-0.096888,0.028319,0.273159,0.102463
Chla_Water_EXO,-0.298426,0.143790,1.000000,0.498635,0.425593,0.307687,-0.021891,0.226029,-0.079344,-0.348574,0.025128,-0.119410,0.101340
DO_Water_EXO,-0.020135,0.110390,0.498635,1.000000,0.631111,-0.017961,-0.323045,0.200452,-0.098678,-0.680608,-0.025899,0.009214,0.428063
DO-Sat_Water_EXO,-0.648007,-0.159781,0.425593,0.631111,1.000000,0.262092,0.505459,0.756692,-0.320016,-0.534086,-0.018838,-0.008785,0.448523
SpCond_Water_EXO,-0.446515,-0.042877,0.307687,-0.017961,0.262092,1.000000,0.377314,0.269798,0.018280,-0.176334,0.006035,0.203379,0.081412
Temperature_Water_EXO,-0.786662,-0.316365,-0.021891,-0.323045,0.505459,0.377314,1.000000,0.708730,-0.288063,0.100904,0.007146,0.024586,0.038679
pH_Water_EXO,-0.757792,-0.372949,0.226029,0.200452,0.756692,0.269798,0.708730,1.000000,-0.483351,-0.102535,0.007123,-0.061580,0.011473
rel_fl,0.273434,0.720790,-0.079344,-0.098678,-0.320016,0.018280,-0.288063,-0.483351,1.000000,-0.001458,0.026246,0.514343,0.094075
month,0.022866,-0.096888,-0.348574,-0.680608,-0.534086,-0.176334,0.100904,-0.102535,-0.001458,1.000000,-0.143811,-0.149814,-0.817839
day,0.002084,0.028319,0.025128,-0.025899,-0.018838,0.006035,0.007146,0.007123,0.026246,-0.143811,1.000000,0.020026,0.073439
year,0.036855,0.273159,-0.119410,0.009214,-0.008785,0.203379,0.024586,-0.061580,0.514343,-0.149814,0.020026,1.000000,0.105298
SolarRad_Air_LiCor,0.003089,0.102463,0.101340,0.428063,0.448523,0.081412,0.038679,0.011473,0.094075,-0.817839,0.073439,0.105298,1.000000

In [52]:
df.isnull().sum()

DateTime                 0
SensorDepth_Water_EXO    0
PC_Water_EXO             0
Chla_Water_EXO           0
DO_Water_EXO             0
DO-Sat_Water_EXO         0
SpCond_Water_EXO         0
Temperature_Water_EXO    0
pH_Water_EXO             0
rel_fl                   0
month                    0
day                      0
year                     0
SolarRad_Air_LiCor       0
dtype: int64