In [68]:
import pandas as pd

In [69]:
data_path = '/home/achara/data/achara/'

In [70]:
df = pd.read_csv(data_path + 'SINC_input_data_EDI.csv')

In [71]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,2018-01-22 16:35:00,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2018-02-28 15:10:00,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,2018-03-20 14:10:00,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,2018-04-04 14:00:00,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,2018-04-04 18:00:00,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [72]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '/'.join(list(map(str, standardize)))

In [73]:
df.Datetime = df.Datetime.map(lambda x:x.split(' ')[0]).map(convert_date_format)

In [74]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [75]:
df.sort_values(by=['Datetime'], inplace=True, ignore_index=True)

In [76]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_West,1/11/2016,Storm Event,38.4589,1.9297,0.5,2.5426,0.557,1.7105,36.5292,...,NaN,NaN,NaN,169.500,NaN,1.765,0.735,NaN,NaN,NaN
1,TS_West,1/11/2016,Storm Event,32.3808,2.4362,0.5,1.0603,0.371,0.4575,29.9446,...,NaN,NaN,NaN,141.010,NaN,0.335,0.720,NaN,NaN,NaN
2,TS_West,1/11/2016,Storm Event,31.8137,2.6895,0.5,0.9553,0.345,0.3943,29.1242,...,NaN,NaN,NaN,128.515,NaN,-0.190,0.735,NaN,NaN,NaN
3,TS_West,1/11/2016,Storm Event,15.8587,3.4492,0.5,0.7955,0.405,0.2313,12.4095,...,NaN,NaN,NaN,0.395,NaN,-1.435,0.770,NaN,NaN,NaN
4,TS_West,1/12/2016,Storm Event,11.0469,4.2090,0.5,0.9918,0.824,0.0050,6.8379,...,0.0,NaN,NaN,0.040,-0.255,1.070,0.080,0.0,NaN,NaN