In [80]:
import pandas as pd

In [81]:
data_path = '/home/achara/data/achara/'

In [82]:
df = pd.read_csv(data_path + 'SINC_input_data_EDI.csv')

In [83]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,2018-01-22 16:35:00,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2018-02-28 15:10:00,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,2018-03-20 14:10:00,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,2018-04-04 14:00:00,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,2018-04-04 18:00:00,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [84]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '/'.join(list(map(str, standardize)))

In [85]:
df.Datetime = df.Datetime.map(lambda x:x.split(' ')[0]).map(convert_date_format)

In [86]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [87]:
df.head(10)

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.11150,NaN,NaN,NaN,NaN,NaN,NaN,0.01250
1,TS_East,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.13500,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.00800
2,TS_East,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.12200,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.21250,0.00450
3,TS_East,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.12800,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.81950,-0.02000
4,TS_East,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.12450,47.61350,0.35300,1.25850,0.02350,0.785274,-0.17900,-0.00250
5,TS_East,4/4/2018,Storm Event,23.9219,3.4630,1.6302,0.3605,0.182,0.0050,20.4589,...,11.433604,3.23925,0.12550,29.57425,0.95500,-0.27550,0.02000,0.637826,-0.12950,-0.00250
6,TS_East,4/4/2018,Storm Event,17.9996,4.7192,1.9339,0.3366,0.176,0.0050,13.2804,...,11.391538,3.17975,0.12375,16.99575,0.83350,-2.98300,0.02000,0.419123,-0.11800,-0.00025
7,TS_East,4/5/2018,Storm Event,12.9746,4.3603,2.0857,0.3081,0.158,0.0050,8.6143,...,10.923362,3.05875,0.12400,10.97050,0.44275,-0.86600,0.02000,0.512785,-0.11425,-0.00125
8,TS_East,4/23/2018,Baseflow,6.9788,3.4689,2.6403,0.4030,0.335,0.0050,3.5099,...,NaN,2.12675,0.12425,NaN,NaN,NaN,NaN,NaN,-0.75125,-0.02325
9,TS_East,5/30/2018,Baseflow,10.1217,4.1274,3.2719,0.5991,0.489,0.0050,5.9943,...,3.130951,1.24375,0.08400,43.58425,0.16150,-5.96075,0.04000,0.685822,-0.01125,-0.00500

In [99]:
keys=['Datetime', 'Sample_Type', 'TP', 'TSP', 'SRP', 'TN', 'NO3',
       'NH4', 'PP']
df = df.loc[:,keys]

In [100]:
df.head()

,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP
0,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741
1,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954
2,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426
3,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395
4,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634