In [107]:
import pandas as pd

In [108]:
data_path = '/home/achara/data/achara/'

In [109]:
df = pd.read_csv(data_path + 'SINC_input_data_EDI.csv')

In [110]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,2018-01-22 16:35:00,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2018-02-28 15:10:00,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,2018-03-20 14:10:00,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,2018-04-04 14:00:00,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,2018-04-04 18:00:00,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [111]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '/'.join(list(map(str, standardize)))

In [112]:
df.Datetime = df.Datetime.map(lambda x:x.split(' ')[0]).map(convert_date_format)

In [113]:
df.head()

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.1115,NaN,NaN,NaN,NaN,NaN,NaN,0.0125
1,TS_East,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.1350,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.0080
2,TS_East,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.1220,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.2125,0.0045
3,TS_East,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.1280,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.8195,-0.0200
4,TS_East,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.1245,47.61350,0.35300,1.25850,0.02350,0.785274,-0.1790,-0.0025

In [114]:
df.head(10)

,Site,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP,...,EXO_fDOM_120h_lag,Press_kpa_120h_lag,SoilMoisture_120h_lag,EXO_SpCond_120delta,EXO_Temp_120delta,EXO_Turb_120delta,EXO_pH_120delta,EXO_fDOM_120delta,Press_kpa_120delta,SoilMoisture_120delta
0,TS_East,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.552,0.0050,2.1741,...,NaN,NaN,0.11150,NaN,NaN,NaN,NaN,NaN,NaN,0.01250
1,TS_East,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.362,0.0185,3.8954,...,4.988937,NaN,0.13500,24.75075,1.31850,-0.76750,0.01000,-0.233648,NaN,0.00800
2,TS_East,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.587,0.0050,9.7426,...,3.308868,2.04100,0.12200,61.96175,-2.02375,-1.65325,0.02150,-0.647593,-0.21250,0.00450
3,TS_East,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.248,0.0050,7.5395,...,11.785599,3.18525,0.12800,83.58150,0.60375,-8.77200,0.09775,-2.180811,-0.81950,-0.02000
4,TS_East,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.195,0.0050,25.6634,...,11.587968,3.25025,0.12450,47.61350,0.35300,1.25850,0.02350,0.785274,-0.17900,-0.00250
5,TS_East,4/4/2018,Storm Event,23.9219,3.4630,1.6302,0.3605,0.182,0.0050,20.4589,...,11.433604,3.23925,0.12550,29.57425,0.95500,-0.27550,0.02000,0.637826,-0.12950,-0.00250
6,TS_East,4/4/2018,Storm Event,17.9996,4.7192,1.9339,0.3366,0.176,0.0050,13.2804,...,11.391538,3.17975,0.12375,16.99575,0.83350,-2.98300,0.02000,0.419123,-0.11800,-0.00025
7,TS_East,4/5/2018,Storm Event,12.9746,4.3603,2.0857,0.3081,0.158,0.0050,8.6143,...,10.923362,3.05875,0.12400,10.97050,0.44275,-0.86600,0.02000,0.512785,-0.11425,-0.00125
8,TS_East,4/23/2018,Baseflow,6.9788,3.4689,2.6403,0.4030,0.335,0.0050,3.5099,...,NaN,2.12675,0.12425,NaN,NaN,NaN,NaN,NaN,-0.75125,-0.02325
9,TS_East,5/30/2018,Baseflow,10.1217,4.1274,3.2719,0.5991,0.489,0.0050,5.9943,...,3.130951,1.24375,0.08400,43.58425,0.16150,-5.96075,0.04000,0.685822,-0.01125,-0.00500

In [115]:
keys=['Datetime', 'Sample_Type', 'TP', 'TSP', 'SRP', 'TN', 'NO3',
       'NH4', 'PP']
df = df.loc[:,keys]

In [116]:
df.head(15)

,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP
0,1/22/2018,Baseflow,5.6920,3.5179,2.7809,0.5512,0.5520,0.0050,2.1741
1,2/28/2018,Baseflow,7.0481,3.1527,1.9507,0.3439,0.3620,0.0185,3.8954
2,3/20/2018,Baseflow,12.4426,2.7000,0.5000,0.6172,0.5870,0.0050,9.7426
3,4/4/2018,Storm Event,10.8230,3.2835,1.4783,0.4033,0.2480,0.0050,7.5395
4,4/4/2018,Storm Event,30.3826,4.7192,2.0857,0.4653,0.1950,0.0050,25.6634
5,4/4/2018,Storm Event,23.9219,3.4630,1.6302,0.3605,0.1820,0.0050,20.4589
6,4/4/2018,Storm Event,17.9996,4.7192,1.9339,0.3366,0.1760,0.0050,13.2804
7,4/5/2018,Storm Event,12.9746,4.3603,2.0857,0.3081,0.1580,0.0050,8.6143
8,4/23/2018,Baseflow,6.9788,3.4689,2.6403,0.4030,0.3350,0.0050,3.5099
9,5/30/2018,Baseflow,10.1217,4.1274,3.2719,0.5991,0.4890,0.0050,5.9943
10,6/27/2018,Baseflow,13.6233,5.1677,3.5361,0.7120,0.5390,0.0112,8.4556
11,7/17/2018,Baseflow,8.0321,3.9552,3.5860,0.6472,0.5220,0.0050,4.0769
12,8/20/2018,Baseflow,7.4704,5.0061,3.4777,0.5475,0.5050,0.0050,2.4643
13,9/17/2018,Baseflow,20.4985,19.1008,19.0342,0.6073,0.0965,0.0119,1.3977
14,9/18/2018,Storm Event,7.2202,2.3282,1.4120,0.6429,0.4580,0.0050,4.8920

In [117]:
def transform_sample_type(sample:str)->str:
    if sample == 'baseflow':
        return 'Baseflow'
    return sample

df.Sample_Type = df.Sample_Type.map(transform_sample_type)

In [118]:
df.groupby(['Datetime', 'Sample_Type'], as_index=False)['TP', 'TSP', 'SRP', 'TN', 'NO3',
       'NH4', 'PP'].mean()

/home/achara/achara_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Datetime,Sample_Type,TP,TSP,SRP,TN,NO3,NH4,PP
0,1/11/2016,Storm Event,29.628025,2.626150,0.500000,1.338425,0.419500,0.698400,27.001875
1,1/12/2016,Storm Event,11.046900,4.209000,0.500000,0.991800,0.824000,0.005000,6.837900
2,1/14/2019,Baseflow,5.777362,3.284037,1.696188,0.402687,0.292063,0.006275,2.493325
3,1/15/2019,Baseflow,3.864500,2.545267,1.014433,0.173133,0.116067,0.005000,1.319233
4,1/17/2017,Baseflow,5.469167,3.970033,3.024067,0.867933,0.788333,0.010267,1.499133
...,...,...,...,...,...,...,...,...,...
146,9/21/2017,Baseflow,8.944350,6.733500,6.647950,1.149500,1.123200,0.005000,2.210850
147,9/22/2016,Baseflow,8.952433,6.402000,4.945733,0.974467,0.864967,0.013667,2.550433
148,9/24/2015,Baseflow,10.884400,8.619500,6.774600,0.468200,0.240000,0.008600,2.264900
149,9/25/2018,Storm Event,8.104000,3.174950,1.756600,0.518300,0.295500,0.005000,4.929050
150,9/26/2018,Storm Event,16.641800,3.497667,1.369067,0.397000,0.174333,0.005000,13.144133