In [1]:
import pandas as pd

In [2]:
data_path = '/home/achara/data/achara/'

In [3]:
vp_17 = pd.read_csv(data_path + '2017_JP_VP.csv')
vp_18 = pd.read_csv(data_path + '2018_JP_VP_Level4.csv')
vp_19 = pd.read_csv(data_path + '2019_JP_VP_Level4.csv')

In [4]:
vp_17.head()

,PC_Water_EXO,Chla_Water_EXO,SensorDepth_Water_EXO,DateTime,DO_Water_EXO,DO-Sat_Water_EXO,Pressure_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,fDOM_Water_EXO,pH_Water_EXO,PC-TC_Water_EXO,fDOM-TC_Water_EXO,CalibrationChange_System_EXO,Sitename
0,NaN,NaN,NaN,5/18/2017 18:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
1,NaN,NaN,NaN,5/18/2017 18:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
2,NaN,NaN,NaN,5/18/2017 18:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
3,NaN,NaN,NaN,5/18/2017 19:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose
4,NaN,NaN,NaN,5/18/2017 19:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VP_AnthonysNose

In [5]:
vp_18.head()

,DateTime,Site_Name,Chla_Water_EXO,SensorDepth_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,Turbidity_Water_EXO,pH_Water_EXO,PC_Water_EXO,fDOM_Water_EXO
0,2018-05-09 23:12:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-09 23:22:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-09 23:32:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-09 23:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-09 23:52:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
vp_19.head()

,DateTime,Site_Name,Chla_Water_EXO,SensorDepth_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,Turbidity_Water_EXO,pH_Water_EXO,PC_Water_EXO,fDOM_Water_EXO,VerticalPosition_Water_EXO
0,2019-05-02 18:22:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-02 18:32:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-02 18:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-06 19:41:33,VP_AnthonysNose,NaN,1.04,11.934,103.17,NaN,8.46,0.54,7.46,0.174836,0.998942,NaN
4,2019-05-06 19:42:00,VP_AnthonysNose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def remove_time(datetime: str) -> str:
    return datetime.split(' ')[0]

## Remove time from date time

In [8]:
vp_17.DateTime = vp_17.DateTime.map(remove_time)
vp_18.DateTime = vp_18.DateTime.map(remove_time)
vp_19.DateTime = vp_19.DateTime.map(remove_time)

## Date formats are not same across the 3 data sets, so we need to fix them

In [9]:
def convert_date_format(date: str) -> str:
    parts = date.split('-')
    parts.append(parts.pop(0))
    standardize = list(map(int, parts))
    return '/'.join(list(map(str, standardize)))

In [10]:
vp_18.DateTime = vp_18.DateTime.map(convert_date_format)
vp_19.DateTime = vp_19.DateTime.map(convert_date_format)

## Rename column to suitable name

In [11]:
vp_17 = vp_17.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_18 = vp_18.rename(columns={'fDOM_Water_EXO': 'rel_fl'})
vp_19 = vp_19.rename(columns={'fDOM_Water_EXO': 'rel_fl'})

## Group by DateTime keeping the sensor depth information

In [12]:
vp_17_mean = vp_17.groupby(['DateTime', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [13]:
vp_18_mean = vp_18.groupby(['DateTime', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [14]:
vp_19_mean = vp_19.groupby(['DateTime', 'SensorDepth_Water_EXO'])[[
    'PC_Water_EXO',
    'Chla_Water_EXO',
    'DO_Water_EXO',
    'DO-Sat_Water_EXO',
    'SpCond_Water_EXO',
    'Temperature_Water_EXO',
    'pH_Water_EXO',
    'rel_fl'
]].mean().reset_index()

In [15]:
vp_df = vp_17_mean.append(vp_18_mean)

In [16]:
vp_df = vp_df.append(vp_19_mean)

## Split DateTime into Day, Month & Year for combining other data sets

In [17]:
vp_df.head()

,DateTime,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl
0,10/1/2017,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880
1,10/1/2017,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862
2,10/1/2017,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844
3,10/1/2017,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826
4,10/1/2017,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835

In [18]:
def get_month(date: str) -> str:
    return date.split('/')[0]


def get_day(date: str) -> str:
    return date.split('/')[1]


def get_year(date: str) -> str:
    return date.split('/')[2]

In [19]:
vp_df['month'] = vp_df.DateTime.map(get_month)
vp_df['day'] = vp_df.DateTime.map(get_day)
vp_df['year'] = vp_df.DateTime.map(get_year)

In [20]:
vp_df.head()

,DateTime,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,month,day,year
0,10/1/2017,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880,10,1,2017
1,10/1/2017,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862,10,1,2017
2,10/1/2017,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844,10,1,2017
3,10/1/2017,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826,10,1,2017
4,10/1/2017,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835,10,1,2017

In [21]:
vp_df.isnull().sum()

DateTime                     0
SensorDepth_Water_EXO        0
PC_Water_EXO              1536
Chla_Water_EXO            1371
DO_Water_EXO              4722
DO-Sat_Water_EXO          4684
SpCond_Water_EXO          2652
Temperature_Water_EXO      228
pH_Water_EXO             11546
rel_fl                     517
month                        0
day                          0
year                         0
dtype: int64

## Removing NA values

Replace NA values by their mean value of that particular month in that particular year.

In [22]:
mean_pc = vp_df.groupby(['DateTime'])['PC_Water_EXO'].mean()
mean_chl_a = vp_df.groupby(['DateTime'])['Chla_Water_EXO'].mean()
mean_do = vp_df.groupby(['DateTime'])['DO_Water_EXO'].mean()
mean_do_sat = vp_df.groupby(['DateTime'])['DO-Sat_Water_EXO'].mean()
mean_sp_c = vp_df.groupby(['DateTime'])['SpCond_Water_EXO'].mean()
mean_water_temp = vp_df.groupby(['DateTime'])['Temperature_Water_EXO'].mean()
mean_ph = vp_df.groupby(['DateTime'])['pH_Water_EXO'].mean()
mean_fl = vp_df.groupby(['DateTime'])['rel_fl'].mean()

In [23]:
vp_df.PC_Water_EXO = vp_df.PC_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_pc.loc[d]))

In [24]:
vp_df.Chla_Water_EXO = vp_df.Chla_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_chl_a.loc[d]))

In [25]:
vp_df.DO_Water_EXO = vp_df.DO_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_do.loc[d]))

In [26]:
vp_df['DO-Sat_Water_EXO'] = vp_df['DO-Sat_Water_EXO'].fillna(vp_df.DateTime.map(lambda d: mean_do_sat.loc[d]))

In [27]:
vp_df.SpCond_Water_EXO = vp_df.SpCond_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_sp_c.loc[d]))

In [28]:
vp_df.Temperature_Water_EXO = vp_df.Temperature_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_water_temp.loc[d]))

In [29]:
vp_df.pH_Water_EXO = vp_df.pH_Water_EXO.fillna(vp_df.DateTime.map(lambda d: mean_ph.loc[d]))
vp_df.rel_fl = vp_df.rel_fl.fillna(vp_df.DateTime.map(lambda d: mean_fl.loc[d]))

In [30]:
vp_df.isnull().sum()

DateTime                 0
SensorDepth_Water_EXO    0
PC_Water_EXO             0
Chla_Water_EXO           0
DO_Water_EXO             0
DO-Sat_Water_EXO         0
SpCond_Water_EXO         0
Temperature_Water_EXO    0
pH_Water_EXO             0
rel_fl                   0
month                    0
day                      0
year                     0
dtype: int64

In [31]:
vp_df.to_csv(data_path + '/VP_Data.csv', index=False)