In [3]:
import pandas as pd

In [5]:
df_ts_17 = pd.read_csv('../../data/2017_JP_TS.csv', parse_dates=['DateTime'], )

In [6]:
df_ts_17.head()

,DateTime,CalibrationChange_System_EXO,fDOM-TC_Water_EXO,FlowCell_System_EXO,pH_Water_EXO,SpCond_Water_EXO,Stage_Water_WaterLog,Temperature_Water_EXO,Temperature_Water_WaterLog,Turbidity_Water_EXO,...,Stage_Water_CS451,Temperature_Soil_HydraProbe,Temperature_Water_CS451,TransducerDepth_Water_CS451,Chla_Water_EXO,Flow_Water_SL,Level_Water_SL,Temperature_Water_SL,Flow_Water_IQ,Stage_Water_IQ
0,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,0.939667,NaN,-0.300000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,0.936818,NaN,-0.200000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,0.937750,NaN,-0.200000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,0.941000,NaN,-0.200000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,0.947750,NaN,-0.116667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_ts_18 = pd.read_csv('../../data/2018_JP_TS_Level4.csv', parse_dates=['DateTime'], )

In [8]:
df_ts_18.head()

,DateTime,Site_Name,Chloride_Water_EXO,Conductivity_Soil_HydraProbe,fDOM_Water_EXO,Moisture_Soil_HydraProbe,pH_Water_EXO,SpCond_Water_EXO,Stage_Water_CS451,Temperature_Soil_HydraProbe,...,Chla_Water_EXO,Flow_Water_SL,Level_Water_SL,Temperature_Water_SL,Conductivity-46cm_Soil_HydraProbe,Moisture-46cm_Soil_HydraProbe,Temperature-46cm_Soil_HydraProbe,Flow_Water_IQ,Stage_Water_IQ,Temperature_Water_IQ
0,2018-01-01 21:00:00,TS_East,NaN,0.005,NaN,0.080,NaN,NaN,NaN,2.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01 22:00:00,TS_East,NaN,0.005,NaN,0.080,NaN,NaN,NaN,2.104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01 23:00:00,TS_East,NaN,0.005,NaN,0.080,NaN,NaN,NaN,2.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-02 00:00:00,TS_East,NaN,0.005,NaN,0.080,NaN,NaN,NaN,2.133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-02 15:00:00,TS_East,NaN,0.005,NaN,0.079,NaN,NaN,NaN,2.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_ts_19 = pd.read_csv('../../data/2019_JP_TS_Level4.csv', parse_dates=['DateTime'], )

In [10]:
df_ts_19.head()

,DateTime,Site_Name,Chloride_Water_EXO,Conductivity_Soil_HydraProbe,fDOM_Water_EXO,Moisture_Soil_HydraProbe,pH_Water_EXO,SpCond_Water_EXO,Stage_Water_CS451,Temperature_Soil_HydraProbe,...,Flow_Water_SL,Level_Water_SL,PC_Water_EXO,Temperature_Water_SL,Conductivity-46cm_Soil_HydraProbe,Moisture-46cm_Soil_HydraProbe,Temperature-46cm_Soil_HydraProbe,Flow_Water_IQ,Stage_Water_IQ,Temperature_Water_IQ
0,2019-01-01 00:00:00,TS_East,NaN,0.004,NaN,0.113,7.33,211.458,1.124,1.697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 01:00:00,TS_East,NaN,0.003,NaN,0.114,NaN,211.564,1.151,1.698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 02:00:00,TS_East,NaN,0.003,NaN,0.114,NaN,210.988,1.206,1.693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 03:00:00,TS_East,NaN,0.004,NaN,0.113,NaN,209.240,1.320,1.698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 04:00:00,TS_East,NaN,0.004,NaN,0.113,NaN,197.804,1.463,1.698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_ts_20 = pd.read_csv('../../data/2020_JP_TS_Level4.csv', parse_dates=['DateTime'], )

In [12]:
df_ts_20.head()

,DateTime,Site_Name,Chloride_Water_EXO,Conductivity_Soil_HydraProbe,fDOM_Water_EXO,Moisture_Soil_HydraProbe,pH_Water_EXO,SpCond_Water_EXO,Stage_Water_CS451,Temperature_Soil_HydraProbe,...,Flow_Water_SL,Level_Water_SL,PC_Water_EXO,Temperature_Water_SL,Conductivity-46cm_Soil_HydraProbe,Moisture-46cm_Soil_HydraProbe,Temperature-46cm_Soil_HydraProbe,Flow_Water_IQ,Stage_Water_IQ,Temperature_Water_IQ
0,2020-01-01 00:00:00,TS_East,66.557,0.006,NaN,0.146,7.580,352.255,1.052,2.098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01 01:00:00,TS_East,67.324,0.006,NaN,0.146,7.580,353.128,1.052,2.098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 02:00:00,TS_East,67.751,0.006,NaN,0.146,7.580,354.048,1.050,2.097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 03:00:00,TS_East,68.062,0.006,NaN,0.146,7.580,355.088,1.047,2.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01 04:00:00,TS_East,67.939,0.006,NaN,0.146,7.589,357.188,1.043,2.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1 = pd.DataFrame({'age':[20,30,40]})
df2 = pd.DataFrame({'age':[50,30,60]})

In [18]:
# concatenate the tables into one.
df = pd.concat([df_ts_17, df_ts_18, df_ts_19, df_ts_20], axis=0, ignore_index=True)