In [3]:
import pandas as pd

In [31]:
cols = ['DateTime','rel_fl','SpCond_Water_EXO', 'Temperature_Water_EXO','Chla_Water_EXO', 'DO_Water_EXO','pH_Water_EXO','SensorDepth_Water_EXO','NO3','SolarRad_Air_LiCor','TSP', 'TN']

In [43]:
df = pd.read_csv('../../data/pc_data_2017_to_2019_2.csv', parse_dates=['DateTime'])

In [44]:
df.head()

,DateTime,SensorDepth_Water_EXO,PC_Water_EXO,Chla_Water_EXO,DO_Water_EXO,DO-Sat_Water_EXO,SpCond_Water_EXO,Temperature_Water_EXO,pH_Water_EXO,rel_fl,...,TP,TSP,SRP,TN,NO3,NH4,PP,PRECTOTCORR,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_LW_DWN
0,2017-10-01,1.01,0.1556,0.358058,9.17,101.610000,139.810000,20.380000,8.010344,0.880,...,25.691678,9.009938,5.594708,0.498284,0.191,0.005,16.681741,4.319851,2.424178,310.373726
1,2017-10-01,1.03,0.1520,0.544445,9.18,101.776667,139.786667,20.386667,8.027139,0.862,...,25.691678,9.009938,5.594708,0.498284,0.191,0.005,16.681741,4.319851,2.424178,310.373726
2,2017-10-01,1.05,0.1304,0.843708,9.16,101.230000,139.660000,20.220000,8.019958,0.844,...,25.691678,9.009938,5.594708,0.498284,0.191,0.005,16.681741,4.319851,2.424178,310.373726
3,2017-10-01,1.07,0.1592,0.939807,9.16,101.590000,139.780000,20.410000,8.038803,0.826,...,25.691678,9.009938,5.594708,0.498284,0.191,0.005,16.681741,4.319851,2.424178,310.373726
4,2017-10-01,1.09,0.1340,0.797623,9.15,101.490000,139.750000,20.420000,8.024188,0.835,...,25.691678,9.009938,5.594708,0.498284,0.191,0.005,16.681741,4.319851,2.424178,310.373726